
.bank-card .badge {
    font-size: 0.75rem;
    padding: 0.4em 0.6em;
}


.bg-light-success {
    background-color: #d1e7dd !important;
}

.bg-light-danger {
    background-color: #f8d7da !important;
}


.bank-card {
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    cursor: pointer;
}

    .bank-card:hover {
        transform: scale(1.02);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        z-index: 10;
    }

.form-floating > label {
    color: #6c757d;
    font-weight: 500;
}
